/*------------------------------------*\
  #RESET
\*------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------------------------*\
  #ROOT ELEMENTS
\*------------------------------------*/
body {
    font-family: serif;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*------------------------------------*\
  #LAYOUT CONTAINERS
\*------------------------------------*/
.black-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

main.black-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

aside {
    background-color: #f63f51;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.header {
    background-color: #2c4059;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

/* Header Components */
.header__logo,
.header__nav,
.header__social {
    background-color: #ea5455;
    padding: 0.5em;
}

.header__logo {
    flex-grow: 1;
    cursor: pointer;
}

.header__nav {
    flex-grow: 5;
}

.header__social {
    flex-grow: 1;
}

/* Header Animations */
.header__logo:hover {
    animation: scaleUp 0.3s ease-in forwards;
}

.header__logo:not(:hover) {
    animation: scaleDown 0.3s ease-out forwards;
}

@keyframes scaleUp {
    to {
        transform: scale(1.1);
        background-color: #ff1493;
    }
}

@keyframes scaleDown {
    to {
        transform: scale(1);
        background-color: #ea5455;
    }
}

/*------------------------------------*\
  #BANNER
\*------------------------------------*/
.banner {
    background-color: #ff8b00;
    padding: 1rem;
}

.banner__title {
    background-color: #fed700;
    font-size: 1.5rem;
    padding: 0.5em;
}

/*------------------------------------*\
  #ARTICLES
\*------------------------------------*/
.articles {
    background-color: #4d4e6a;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.articles__list {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 1rem;
}

.articles__item {
    background-color: #1f6cb0;
    padding: 0.5em;
}

.articles__navigation {
    background-color: #71a3c4;
    padding: 0.5em;
}

/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/
.sidebar__ad {
    background-color: #fed700;
    padding: 0.5em;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer__content {
    background-color: #f0e78c;
    padding: 0.5em;
}

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
/* Tablet */
@media only screen and (max-width: 768px) {
    body {
        background-color: #94d9f7;
    }

    .header {
        flex-direction: column;
    }

    main.black-container {
        display: flex;
        flex-direction: column;
    }
}

/* Mobile */
@media only screen and (max-width: 576px) {
    body {
        background-color: #2ebbf7;
    }

    .articles__list {
        display: flex;
        flex-direction: column;
    }
}
